fieldset {
    width: 30%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(90deg,red,yellow);
    border: none;
    border-radius: 5px;

}
button {
    background-image: linear-gradient(90deg,rgb(27, 71, 121),blue);
    color: white;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 20px;
}


#hello {
    background-image: linear-gradient(90deg,rgb(27, 71, 121),blue);
    color: white;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 20px;
}


#in1,in2{

    height: 25ox;
    border-radius: 10px;
    border: none
}