body{
    margin-left: 0px;
    margin-right: 0px;
}
.menu{
    width: 100%;
    height: 60px; 
    background-color:dodgerblue ;
}

.menu li{
    list-style: none;
    width: 160px;
    height: 60px;
    background-color:#22008b ;
    margin: 5px ;
    text-align: center;
    line-height: 60px;
    float: left;
}
.menu li:hover{
    background-color: black;
}
.menu li a:hover{
    color: aqua;
}
.menu li a{
    color: white;
    display: block;
    text-decoration: none;
}
.logo{
    width: 0px;
}
.logo_li:hover{
    background-color: #22008b !important;
}